nginx.conf
nginx-proxy.conf
.env

.htaccess
LICENSE
gpl-2.0.txt
index.php
pciSamples/
qtiItemPic/
taoCe/
taoDacSimple/
taoDeliveryRdf/
taoGroups/
taoItems/
taoLti/
taoOutcomeRds/
taoQtiTest/
taoRevision/
taoTestLinear/
taoWorkspace/
tests/
vendor/

composer.json
composer.lock
favicon.ico
fdl-1.3.txt
funcAcl/
generis/
ltiDeliveryProvider/
phpunit.xml
qtiItemPci/
tao/
taoBackOffice/
taoDelivery/
taoLtiBasicOutcome/
taoMediaManager/
taoOpenWebItem/
taoOutcomeUi/
taoQtiItem/
taoResultServer/
taoTestTaker/
taoTests/

